{% extends 'core/base.html' %}

{% block content %}
<h1 class="mb-6 text-2xl">About</h1>
<p>
    Welcome to CALMCONNECT, your trusted companion in mental health and well-being. Our mission is to provide immediate, accessible, and compassionate support to everyone in need. We understand that mental health challenges can arise at any time, and finding the right support can often feel overwhelming. That is why we have created a platform that connects you to licensed therapists for real-time chat sessions and offers an AI chatbot for instant therapeutic guidance.


At CALMCONNECT, we believe in the power of human connection. Our platform allows you to engage in real-time, confidential chat sessions with experienced, licensed therapists. Whether you're dealing with anxiety, depression, stress, or any other mental health concern, our therapists are here to listen, support, and guide you towards better mental health.


In addition to connecting with live therapists, our advanced AI chatbot is available 24/7 to provide instant support and therapeutic conversations. Designed with the latest in mental health research, our AI chatbot can help you manage your emotions, offer coping strategies, and provide a safe space to talk whenever you need it.


Our mission is to make mental health support accessible to everyone, anytime, anywhere. We are dedicated to breaking down barriers to mental health care by providing convenient, affordable, and immediate access to professional help. Our combined approach of human and AI support ensures that you always have someone to talk to, day or night.



Take the first step towards better mental health with CALMCONNECT. Whether you prefer talking to a professional therapist or seeking instant support from our AI chatbot, we are here for you. Together, we can work towards a healthier, happier you.
</p>
{% endblock %}